body {
  margin: 0;
  padding: 0;
  font-family: 'Press Start 2P', monospace;
  background-image: url(static/img/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-position: top center;
}

.btn {
  margin: 1px;
}

#app {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.welcome {
	overflow: hidden;
}

.title {
	text-align: center;
	color: #fff;
	margin: 5em 0 0 0;
}

.title h1 {
	padding: 0 0 0 1em;
  margin: 0;
  font-size: 3em;
  text-shadow: -6px 5px 0px #2854bd;
}

.title img {
  max-width: 35em;
  width: 90%;
  margin: 0 auto;
  display: block;
}

.login {
  max-width: 700px;
  width: 90%;
  margin: 5em auto;
  text-align: center;
}

.login h3 {
	margin: 1em;
}

.difficulty {
  max-width: 500px;
  width: 90%;
  margin: 5em auto;
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
}

.content {
  max-width: 1200px;
  margin:  30px auto;
}

.skill-wrapper::after {
  content: '';
  display: block;
  clear: both;

}
.skill-picker {
  float: left;
  width: 795px;
  font-size: 0;
  position: relative;
  top: 20vh;
}
.skill-chosen {
  float: right;
  width: 405px;
  padding: 15px;
  background: #3c5aa6;
  position: relative;
  top: -180vh;
  border-radius: 20px;
}
.skill-panel {
  background:#3c5aa6;
}
.skill-panel h4 {
  color: #D5D8DC;
}
.skill-panel h4 .skill-SP {
  float: right;
  color: #F7DC6F;
}
.skill-panel .insufficientSP {
  margin-top: 10px;
  padding: 5px;
  border: 1px solid #F57F17;
  text-align: center;
  font-size: 14px;
  color: #FF8A65;
}
.skill-panel .skill-items li {
  margin-top: 8px;
  animation: fadeIn cubic-bezier(0.075, 0.82, 0.165, 1) .5s;
  list-style: none;
}
.skill-panel .skill-items span {
  float: right;
  line-height: 32px;
  color: #D4AC0D;
}
.skill-picker ul::after {
  content: '';
  display: block;
  clear: both;
}

.skill-item {
  /* flexbox? Never heard about it. Is it tasty? */
  position: relative;
  display: inline-block;
  width: 250px;
  margin-right: 15px;
  margin-bottom: 15px;
  padding: 15px;
  border: 1px solid transparent;
  vertical-align: top;
  background: #17202A;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  transition: background .1s ease-in;
  border-radius: 20px;
}
.skill-item.picked {
  border: 1px solid #D4AC0D;
  background: #3c5aa6;
}
.skill-item.picked::after {
  position: absolute;
  right: 5px;
  bottom: 5px;
  color: #F7DC6F;
  content: '\02735';

}
.skill-item:not(.picked):hover {
  background: ;
}
.skill-item h4 {
  margin-bottom: 10px;
  color: #ffcb05;
}
.skill-description {
  margin-top: 10px;
  text-align: left;
}
.skill-description li {
  font-size: 16px;
  color: #D5D8DC;
  list-style:none;
}
.skill-description li .skill-value {
  float: right;
  color: #F7DC6F;
}
.skill-info {
  font-size: 14px;
  color: #AEB6BF;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}